<h3 align="center"> Successful Payment</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-left: 20%; width: 60%; border: 3px solid #808080; padding: 10px; }">
            <div class="well well-sm">
            	<h4>Defendent Name</h4> 
				<h5> <%= @defendentName %></h5>
				<h4> Citation Number </h4>
				<h5><%= @citationNumber %></h5>
				<h4>Address</h4>
				<h5><%= @address %></h5>
				<h4>Phone Number</h4>
				<h5><%= @phoneNumber %></h5>
				<h4>Email</h4>
				<h5><%= @email %></h5>
				<h4>Amount Paid</h4>
				<h5><%= @amount %>$</h5>
				<h4>Convenience Fee Paid</h4>
				<h5><%= @convenienceFee %>$</h5>
				<h4>Total Amount Paid</h4>
				<h5><%= @TotalAmt %>$</h5>
            </div>
        </div>
    </div>
</div>
